/* fixed bottom-0 left-0 z-[100] w-full py-3 px-2 bg-my flex items-center justify-between drop-shadow-header-shadow */

.footer-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer{
    background-color: #000000;
    padding: 20px;
    height: 30%;
    width: 100%;
    bottom: 0%;
}

.footer-icon1{
    color: white;
}

.footer-icon2{
    color: white;
}

.footer-icon3{
    color: white;
}

.footer-line {
    border-top: 1px solid #d11f1f;  /* Adjust as needed (top border for footer) */
    margin: 10px 0;  /* Optional: Add margin for spacing */
    width: 100%;  /* Ensure line spans full width */
}

.copyright-powered-by{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 8px;
}