/* fixed bottom-0 left-0 z-[100] w-full py-3 px-2 bg-my flex items-center justify-between drop-shadow-header-shadow */

.footer {
    background-color: #070707;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    bottom: 0%;
}

.footer-icon1{
    color: white;
}

.footer-icon2{
    color: white;
}

.footer-icon3{
    color: white;
}